{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="container">
        <h2>Dashboard</h2>
        <p>Welcome, {{ user.aadhaar }}</p>
        
        <h3>Medical Records</h3>
        <ul>
            {% for record in medical_records %}
                <li>{{ record.date }} - {{ record.description }}</li>
            {% empty %}
                <li>No records found</li>
            {% endfor %}
        </ul>

       <a href="{% url 'accounts:logout' %}">Logout</a>

    </div>
</body>
</html>