{% load static %}





<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secure Health Tracking</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>

    <header>
        <h1>Secure Health Tracking System</h1>
        <nav>
           <a href="{% url 'login' %}">Login</a>
            <a href="{% url 'register' %}">Register</a>
        </nav>
    </header>

    <main>
        <h2>Welcome to Our Secure Health Tracking System</h2>
        <p>Register and track medical records securely.</p>
    </main>

</body>
</html>